.nav-sty {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus,
.navbar-toggler:active,
navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: black;
  display: block;
  transition: all 0.3s;
}

.bar2 {
  margin: 5px 0px;
}

.navbar-toggler .bar1 {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .bar2 {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bar3 {
  transform: rotate(-45deg);
  transform-origin: 10% 80%;
}
.navbar-toggler.collapsed .bar2 {
  opacity: 1;
  font: alpha(opacity=100);
}
.navbar-toggler.collapsed .bar3 {
  transform: rotate(0);
}
.navbar-toggler.collapsed .bar1 {
  transform: rotate(0);
}

.header-gradient {
  height: 300px;
  background-image: linear-gradient(
    to right,
    rgb(0, 93, 152),
    rgb(34, 123, 162),
    
    
    rgb(25, 51, 90)
  );
}
 
.darky h1 {
  margin-top: 150px;
  text-align: center;
}
.form-control {
  width: 350px;
  border-radius: 30px;
}
.formcont {
  margin-top: 30px;
  width: auto;
}

.searchbtn {
  border-radius: 44%;
  border: none;
  width: auto;
  background-color: rgb(25, 51, 90,0.3);
  padding: auto;
  color: #fff;
  box-shadow: 10px 10px 10px #000;
}
.searchbtn:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 10px #000;
  text-shadow: 10px;
  color: rgb(0, 0, 0);
}
.searchform {
  box-shadow: 10px 10px 10px #000;
  background-color: rgb(255, 255, 255, 0);
  color: #fff;
}
.searchform:hover,
.searchform:focus,
.searchform:active {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px #000;
}
.searchform::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

/* Movie item css */

/* .imgSize {
  width: 150px;
  height: 200px;
  box-shadow: 5px 5px 5px;
  margin: 15px 5px;
  border-radius: 20%;
}
.cardSty {
  margin: 15px; */
  /* border: 1px solid rgb(165, 164, 164); */
  /* background-color: rgba(214, 214, 214, 0.63); */
/* }
.container-bg{
  background-color:rgb(25, 51, 90);
}
.cardThead {
  font-weight: 800;
}
.card {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 10px 10px #000;
  color: #fff; */
  /* border-top: 7px solid; */
/* }
.movie-overviews {
  position: absolute;
  bottom: 0;
  left: 26%;
  right: 0;
  color: black;
  background-color: rgba(214, 214, 214, 1);
  transform: translateX(100%);
  transition: transform 0.1s ease-in-out;
  overflow: auto;
  max-height: 100%;
}
.card:hover .movie-overviews {
  transform: translateX(0%);
} */
.np{
  background-color: #fff;
  color: #000;
  box-shadow: 10px 10px 10px #000;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(197, 196, 196);
  font-weight: 600;
  font-size: 18px;
  border-radius: 0% 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.np:hover{
  background-color: rgba(0, 0, 0, 0.445);
  color: #fff;
  border: 1px solid rgb(0, 0, 0);
  border-radius:0% 20%;
}
/* hr{
  border: 7px solid  rgb(25, 51, 90,0);
  margin-bottom: 0px;
  border-radius: 50px 50px 0px 0px;
  width: 101%;
  margin: 0px 1px;
} */


